---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="SOMOS COMMUNITY CARE | HOME.">
	<main>
		<h1>SOMOS <span class="text-gradient">HOME</span></h1>
	</main>
</Layout>

<style lang="scss">
	
</style>
